# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.log

# =========================
# Virtual environments
# =========================
venv/
.env
.env.*

# =========================
# Secrets / keys
# =========================
*.pem
*.key
*.crt
*.cert

# =========================
# Django
# =========================
db.sqlite3
media/
staticfiles/

# Migrations (keep init)
**/migrations/*
!**/migrations/__init__.py

# =========================
# VS Code / IDE
# =========================
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/

# =========================
# Frontend / Node
# =========================
node_modules/
dist/
build/

# =========================
# OS noise
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker (explicitly ignored for now)
# =========================
docker-compose.yml
Dockerfile*